.terms-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;
}

.terms-wrapper strong {
  color: var(--stroke-highlight);
  font-weight: 500;
}

.checkbox-wrapper {
  position: relative;
  transition: 0.2s linear;
}

.checkbox-wrapper input[type="checkbox"] {
  all: unset;
  position: absolute;
  inset: 0;
  opacity: 0;
}

.checkbox-image {
  background-image: url(../../assets/checkbox-default.svg);
  flex: 0 0 1.5rem;
  height: 1.5rem;
  transition: 0.2s linear;
}

.checkbox-wrapper:hover .checkbox-image,
.checkbox-wrapper:focus-within .checkbox-image {
  background-image: url(../../assets/checkbox-hover.svg);
}

.checkbox-wrapper:has(:checked) .checkbox-image {
  background-image: url(../../assets/checkbox-checked.svg);
}
